Repository green-code-initiative/creedengo-javascript, pull requests merged in 2025-03, with the labels that each got.

#45 EC505 avoid keep awake (react-native hook and function)
  CHANGELOG.md
  eslint-plugin/README.md
  eslint-plugin/docs/rules/avoid-keep-awake.md
  eslint-plugin/lib/rules/avoid-keep-awake.js
  eslint-plugin/tests/lib/rules/avoid-keep-awake.js
  sonar-plugin/pom.xml
  sonar-plugin/src/main/java/org/greencodeinitiative/creedengo/javascript/CheckList.java
  sonar-plugin/src/main/java/org/greencodeinitiative/creedengo/javascript/checks/AvoidKeepAwake.java
  sonar-plugin/src/main/resources/org/greencodeinitiative/creedengo/profiles/javascript_profile.json
Labels: 🗃️ rule, 🏆 challenge 🏆

#68 Show support for SonarQube 25.3
  CHANGELOG.md
  README.md
  docker-compose.yml
Labels: dependencies

#69 Only support string literals in GCI11
  CHANGELOG.md
  eslint-plugin/lib/rules/no-multiple-access-dom-element.js
  eslint-plugin/tests/lib/rules/no-multiple-access-dom-element.js
Labels: 🗃️ rule

#70 Only support SQL queries within standard methods
  CHANGELOG.md
  eslint-plugin/docs/rules/limit-db-query-results.md
  eslint-plugin/lib/rules/limit-db-query-results.js
  eslint-plugin/tests/lib/rules/limit-db-query-results.js
Labels: 💉 bug: confirmed, 🗃️ rule

#71 Avoid triggering an exception (GCI12)
  CHANGELOG.md
  eslint-plugin/lib/rules/no-multiple-style-changes.js
  eslint-plugin/tests/lib/rules/no-multiple-style-changes.js
Labels: 💉 bug: confirmed, 🗃️ rule

#73 Avoid false-positive with nested objects in GCI12
  CHANGELOG.md
  eslint-plugin/lib/rules/no-multiple-style-changes.js
  eslint-plugin/tests/lib/rules/no-multiple-style-changes.js
Labels: 💉 bug: confirmed, 🗃️ rule
